.footer{
  background-color: #333;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  .logo-bgwhite{
    width: 120px;
    height:40px;
    background: url("../assets/logo-bgwhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  .footer-middle{
    .col{
      margin-right: 20px;
    }
    ul{
      li{
        a{
          // text-decoration: none;
          color: #ffffffb8;
          font-weight: 300;
          font-size: 0.9rem;
        }
      }
    }
  }
}