*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.hover-effect{
  transition: 300ms;
  &:hover{
    transform: scale(1.05);    
    transition: 300ms;
  }
}